@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default ;
}


/* @theme {
  --font-DynaPuff: "", sans-serif;
} */

body {
  font-family: 'Inter', sans-serif;


}
